
ul {
	list-style: none;
}

#Menu 
{ 
	margin-left: -50px;
	float: left;
	border-bottom: 1px solid #6d6d6d;
}


#Menu > li 
{
	float: left;
	background-color: #cfcfcf;
	padding: 0px 20px;
	margin-left: 2px;
	height: 36px; 
	border-bottom: none;
}

#Menu > li > a 
{
	font-family: Georgia, serif	;
	font-style: italic;
	font-size: 18px;
	color: black;
	display: block;
	line-height: 2em;
	text-decoration: none;
	padding-bottom: 0px;
}

#Menu ul 
{
	position: absolute;
	display: none;
}

#Menu li:hover ul#sub_menu
{
	display: block; 
}

#Menu > li:hover
{
	background-color: white;
	padding: 0px 20px;
	margin-left: 2px;
	border-bottom: 2px solid white;
	height: 34px;
}

#Menu > li:hover > 	a
{
	font-family: Georgia, serif	;
	font-style: italic;
	font-size: 18px;
	color: #8c8c8c;
}

#sub_menu
{
	padding-left: 0px;
	margin-left: -21px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black; 
}

.drop_down:hover
{
  border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#sub_menu > li
{
	background-color: white;
  padding: 5px 0px 5px 10px;
	margin: 0px 50px 0px 0px;
}

#sub_menu > li > a
{
  font-family: Georgia, serif	;
	font-style: italic;
	font-size: 14px;
	color: black;
	text-decoration: none;
	border-bottom: 1px solid #cfcfcf;
  padding-right: 12px;
}

#sub_menu > li:hover
{
	background-color: white;
}

#sub_menu > li:hover a
{
  font-family: Georgia, serif	;
	font-style: italic;
	font-size: 14px;
	color: #bd0707;		
	text-decoration: none;
}

 #sub_menu > li:last-child >a
{
	border-bottom: none;
}
