<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <ul class='list-unstyled'>
  <% errors.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>