.wrapper {
    text-align: center;
}

.login-btn {
    left: 50%;
}

#seperator{
	border-bottom: 2px solid #db2927;
	margin-bottom: 30px;
}

#header {
	margin: 20px 20px 0px 20px;
}

.textbottom {
  float: right;
  margin-top: -50px;
}

.clear_float {
	clear: both;
}

/*.alert-error {
	font-size: 20px;
}
*/