<div class="page-header">
  <!-- FIXME_NISH Please know the use of following line. -->
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => "Employee" %></h1>
</div>
<%= render :partial => 'form', :locals => { button_text: 'Save'} %>
